@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --dark-grey: #0e0e11;
  --light-grey: #2B2D37;
  --light-pink: rgb(242, 243, 255);
}

body {
  background-color: var(--dark-grey);
}

.container {
  font-family: "Inter", "sans-serif";
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 2rem 3rem;
  width: 70vw;
  min-width: 23.125rem;
  height: auto;
  max-height: 95vh;
}

button {
  background-color: var(--light-pink);
  border: 1px solid rgb(235, 235, 235);
  border-radius: 6px;
  padding: 0.5rem;
  font-weight: 500;
}

button:hover {
  transition: 0.1s;
  background-color: rgba(232, 193, 255, 0.4431372549);
}

button:active {
  background-color: #c9aafa;
  transform: scale(0.95);
  transition: 0.05s;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid #710083;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0b5c3;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}